@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@layer components {
  .rede-social {
    color: black;
    cursor: pointer;
  }
  .titulo {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #141212;
  }
}

@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-thumb-gray-700;
  }
}

html,
body {
  background-color: white;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
